body{
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    width: 100%;
    max-width: 100%;
}
.header_logo{
    height: 40px;
    margin-left: 30px;
}
.navbar-light .navbar-nav .nav-link{
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #000;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link{
   /* border-bottom: 1px solid #000;*/
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 0;
    padding-right: 0;
}
.nav-item{
    padding-right: 30px;
    padding-left: 30px;
    border-right: 1px solid #494949;
}
.navbar{
    width: 100%;
    padding-top: 30px;
}
.navbar>.container, .navbar>.container-fluid,
.navbar>.container-lg, .navbar>.container-md,
.navbar>.container-sm, .navbar>.container-xl,
.navbar>.container-xxl{
    justify-content: space-between;
}

.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end;
}
h2{
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
p{
    font-size: 16px;
    text-align: center;
    margin: 30px 10px;
}
.footer {
    font-size: 14px;
    color: rgb(0, 0, 0);
    opacity: 0.7;
    text-align:center;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (max-width: 769px) {
    .navbar {
        padding-top: 20px;
    }
    .header_logo {
        height: 30px;
        margin-left: 5px;
    }
}
@media (max-width: 426px) {
    h2{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}