body{
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
}
.header_logo{
    height: 40px;
    margin-left: 30px;
}
.navbar-light .navbar-nav .nav-link{
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #000;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link{
   /* border-bottom: 1px solid #000;*/
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 0;
    padding-right: 0;
}
.nav-item{
    padding-right: 30px;
    padding-left: 30px;
    border-right: 1px solid #494949;
}
/*
.nav-item:last-child{
    padding-right: 100px;
    border: none;
}*/
.navbar{
    width: 100%;
    padding-top: 50px;
}
/*
.navbar-light .navbar-toggler{
    position: absolute;
    right: 50px;
}*/
.navbar>.container, .navbar>.container-fluid,
.navbar>.container-lg, .navbar>.container-md,
.navbar>.container-sm, .navbar>.container-xl,
.navbar>.container-xxl{
    justify-content: space-between;
}

.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end;
}
/*
.contacts{
    border: 1px solid #A6A297;
}*/
h2{
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
p{
    font-size: 16px;
    text-align: center;
}
.footer {
    font-size: 14px;
    color: rgb(0, 0, 0);
    opacity: 0.7;
    text-align:center;
    padding-top: 20px;
    padding-bottom: 20px;
}